.data-table-block {
    padding: 10px 0px;
    background-color: #f7f7f7;
    ::ng-deep .p-datatable-wrapper{
        min-height: 500px;
    }
    ::ng-deep .p-datatable-table {
        border-collapse: separate;
        border-spacing: 0 5px;
        .p-datatable-tbody > tr > td,
        th {
            font-size: 12px;
        }
        .p-datatable-thead > tr > th {
            text-transform: uppercase;
        }
        .p-datatable-tbody {
            .trunk-text {
                width: 110px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
::ng-deep li.p-highlight a {
    background: #344453 !important;
    border-color: #344453 !important;
    color: #fff !important;
}
::ng-deep .p-tabview-nav-link {
    padding: 16px 40px !important;
}
::ng-deep .data-table-block .p-tabview-panels {
    padding: 0 !important;
}
