<div class="basic-info-block">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="drop-block">
            <select name="" id="" class="form-select shadow">
                <option value="">Operation Info</option>
                <option value="">Operation Info 1</option>
                <option value="">Operation Info 2</option>
            </select>
        </div>
        <div class="btn-block d-flex">
            <div>
                <button class="save-btn">Save & Continue</button>
            </div>
            <div>
                <button class="cancel">Cancel</button>
            </div>
        </div>
    </div>
    <div class="form-block shadow">
        <form action="">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="arc" class="form-label">ARC</label>
                        <p-dropdown inputId="arc" [options]="arcArr" name="arc" [(ngModel)]="selectedARC"
                            placeholder="Select" optionLabel="name"></p-dropdown>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group p-field">
                        <label for="arc" class="form-label">Foc Codes</label>
                        <p-multiSelect [options]="fopCodes" name="selectedFopCodes" [(ngModel)]="selectedFopCodes"
                            optionLabel="name"></p-multiSelect>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                        <label for="arc" class="form-label">Client Code</label>
                        <p-dropdown inputId="arc" [options]="arcArr" name="arc" [(ngModel)]="selectedARC"
                            placeholder="Select" optionLabel="name"></p-dropdown>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                        <label for="GDS" class="form-label">GDS</label>
                        <p-dropdown inputId="GDS" [options]="arcArr" name="GDS" [(ngModel)]="selectedARC"
                            placeholder="Select" optionLabel="name"></p-dropdown>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                        <label for="markets" class="form-label">Markets</label>
                        <p-dropdown inputId="markets" [options]="arcArr" name="markets" [(ngModel)]="selectedARC"
                            placeholder="Select" optionLabel="name"></p-dropdown>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                        <label for="consolidatorId" class="form-label">Consolidator ID</label>
                        <p-dropdown inputId="consolidatorId" [options]="arcArr" name="consolidatorId"
                            [(ngModel)]="selectedARC" placeholder="Select" optionLabel="name"></p-dropdown>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="creditLimit" class="form-label">Credit Limit</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="text" name="creditLimit" class="form-control py-2" aria-label="Amount (to the nearest dollar)">
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="currentBalance" class="form-label">Current Balance</label>
                    <div class="p-inputgroup">
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input type="text" name="currentBalance" class="form-control py-2" aria-label="Amount (to the nearest dollar)">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                        <label for="arc" class="form-label">DK number</label>
                        <p-dropdown inputId="arc" [options]="arcArr" name="arc" [(ngModel)]="selectedARC"
                            placeholder="Select" optionLabel="name"></p-dropdown>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                        <label for="arc" class="form-label">Platform</label>
                        <p-dropdown inputId="arc" [options]="arcArr" name="arc" [(ngModel)]="selectedARC"
                            placeholder="Select" optionLabel="name"></p-dropdown>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                        <label for="arc" class="form-label">Distribution</label>
                        <p-dropdown inputId="arc" [options]="arcArr" name="arc" [(ngModel)]="selectedARC"
                            placeholder="Select" optionLabel="name"></p-dropdown>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                        <label for="arc" class="form-label">White listing</label>
                        <p-dropdown inputId="arc" [options]="arcArr" name="arc" [(ngModel)]="selectedARC"
                            placeholder="Select" optionLabel="name"></p-dropdown>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                        <label for="systemLoaded" class="form-label">System Loaded</label>
                        <input type="text" name="systemLoaded" id="systemLoaded" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                        <label for="systemLoadedTime" class="form-label">System Loaded Time</label>
                        <input type="text" name="systemLoadedTime" id="systemLoadedTime" class="form-control">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>